css * {
  box-sizing: border-box;
}
* {
  list-style: none;
}
body,
html {
  height: 100%;
  margin: 0;
}
span {
  margin-top: 22px;
}
.line {
  border-bottom: 1px solid #7cbe00;
  margin-left:3px;
}
aside {
  width: 40%;
  background-color: #ffc107;
}
article {
  width: 70%;
}
.imag-style {
  background-color: #fff;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  background-image: url('http://image.dek-d.com/27/0391/4869/119477071');
  background-size: cover;
}
.second-section-style {
  height: 45%;
  text-align: justify;
  color: inherit;
  margin-top: 20px;
  font-size: 18px;
}
.second-section-style p {
  padding: 0 20px;
}
.box {
  display: flex;
}
.main-direction {
  flex-direction: row;
}
.aside-direction {
  flex-direction: column;
}
.article-direction {
  margin: 70px 60px 30px 70px;
  flex-direction: column;
}
.right-side-header {
   font-size: 45px;
   margin-left:20px;
}
.right-side-header span{
  color:#FFC107;
}
.left-side-heading{
  text-align: center;
  font-size: 25px;
  border: 1px solid brown;
  background-color: #212121;
  padding: 3px;
  color: orange;
  margin-left: 0;
  margin-right: 0;
}
.right-side-heading{
  margin-left:10px;
  margin-top:30px 
}
.right-side-rule {
  margin-top:-40px;
  margin-left:22px
}
.colored {
  color: orange;
}
/* side by side section t */
.side-by-side {
  display: flex;
  flex-direction: row;
  margin-left:20px
}
.side-by-side div {
  width: 47%;
}
.icon-first {
  padding: 20px 20px 0 0;
  color: orange;
  margin-left: -40px;
  font-size: 20px;
}
.icon-second {
  padding: 20px 20px 0 0;
  color: orange;
  margin-left: -40px;
  font-size: 15px;
}
.icon-tree {
  padding: 20px 20px 0 0;
  color: orange;
  margin-left: -40px;
  font-size: 10px;
}
.icon-four {
  padding: 20px 20px 0 0;
  color: orange;
  margin-left: -40px;
  font-size: 20px;
}
.icon-five {
  padding: 20px 20px 0 0;
  color: orange;
  margin-left: -40px;
  font-size: 14px;
}
.icon-six {
  margin: 0;
  padding: 20px 20px 0 0;
  color: orange;
  margin-left: -40px;
  font-size: 10px;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}
@media all and (max-width: 550px) {
  .main-direction {
    flex-direction: column;
  }
  aside {
    width: 100%;
  }
  article {
    width: 100%;
  }
  .article-direction {
    margin: 0;
  }
  .img-style {
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 20px;
  }
  
}
