CSS * {
  box-sizing: border-box;
}
* {
  list-style: none;
}
body,
html {
  height: 100%;
  margin: 0;
}
span {
  margin-top:35px
}
.line1 {
  border-bottom: 1px solid #7cbe00;
}
.line2 {
  border-bottom: 1px solid #7cbe00;
}
.line3 {
  border-bottom: 1px solid #7cbe00;
}
.line4 {
  border-bottom: 40px solid brown !important;
}
aside {
  width: 40%;
  background-color: #ffc107;
}
article {
  width: 70%;
}
.photo {
  width: 250px;
  height: 250px;
  margin: auto;
  margin-top: 50px;
  margin-left: 0px;
  border-radius: 100%;
  background-color: #fff;
  background-image: url("http://image.dek-d.com/27/0391/4869/119477071");
  background-size: cover;
  border: 1px #ffc107 solid;
}
.img-section-style {
  height: 35%;
  margin: auto;
}
.second-section-style {
  height: 45%;
  text-align: justify;
  color: inherit;
  margin-top: 35px;
  margin-left: 25px;
  margin-right: 20px;
  font-size: 18px;
}
.box {
  display: flex;
}
.main-direction {
  flex-direction: row;
}
.aside-direction {
  flex-direction: column;
}
.article-direction {
  margin: 200px 60px 40px 80px;
  flex-direction: column;
}
h{
  margin-top: 1px;
  font-size: 50px;
}
h2 {
  margin-top: -220px;
  text-align: center;
  font-size: 25px;
  border: 1px solid brown;
  background-color: #212121;
  padding: 3px;
  color: orange;
}
.colored {
  color: orange;
}
/* side by side section t */
.side-by-side {
  display: flex;
  flex-direction: row;
}
.side-by-side div {
  width: 80%;
}
.icon-first {
  margin: 0;
  padding: 20px 20px 0 0;
  color: orange;
  margin-left: -40px;
  font-size: 20px;
}
.icon-second {
  margin: 0;
  padding: 20px 20px 0 0;
  color: orange;
  margin-left: -40px;
  font-size: 15px;
}
.icon-tree {
  margin: 0;
  padding: 20px 20px 0 0;
  color: orange;
  margin-left: -40px;
  font-size: 10px;
}
.icon-four {
  margin: 0;
  padding: 20px 20px 0 0;
  color: orange;
  margin-left: -40px;
  font-size: 20px;
}
.icon-five {
  margin: 0;
  padding: 20px 20px 0 0;
  color: orange;
  margin-left: -40px;
  font-size: 14px;
}
.icon-six {
  margin: 0;
  padding: 20px 20px 0 0;
  color: orange;
  margin-left: -40px;
  font-size: 10px;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media all and (max-width: 650px) {
  .main-direction {
    flex-direction: column;
}
  aside {
    width: 100%;
}
  article {
    width: 100%;
}
  h2{
margin-top:20px;

}
}